variables:
  MAVEN_OPTS: "-Dmaven.repo.local=$LI_PROJECT_DIR/.m2/repository"
cache:
  paths:
   - .m2/repository

stages:
 - build
 - integration-test
 - build-image
 # - e2e-test
 # - deploy
 # -deploy-tp-test

build-job:
  stage: build
  image: openjdk:17
  script:
   - echo 'Udv mester, az epitkezest epp kivegzem'
   - echo $SONAR_TOKEN
   - echo $CI__COMMIT_SHORT_SHA
   - echo $CI_PIPELINE_ID
   - echo 'kek'
   - ./mvnw package
  artifacts:
    paths:
     - target/*.jar

integration-test-job:
  stage: integration-test
  script:
    - echo 'Integracios tesztek kivegzese folyamatban'

build-image-job:
  stage: build-image
  image: docker:20.10.11
  script:
  - docker build -t employees-app:1.0.0-$CI_PIPELINE_ID .
